<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidAppModule21">

    <uses-permission android:name="android.permission.INTERNET" />

<application>
         <activity android:name=".Activity0">
        </activity>
        <activity android:name=".Activity1">
        </activity>
        <activity android:name=".Activity2">
        </activity>
        <activity android:name=".Activity3">
        </activity>
        <activity android:name=".Activity4">
        </activity>
        <activity android:name=".Activity5">
        </activity>
        <activity android:name=".Activity6">
        </activity>
        <activity android:name=".Activity7">
        </activity>
        <activity android:name=".Activity8">
        </activity>
        <activity android:name=".Activity9">
        </activity>
        <activity android:name=".Activity10">
        </activity>
        <activity android:name=".Activity11">
        </activity>
        <activity android:name=".Activity12">
        </activity>
        <activity android:name=".Activity13">
        </activity>
        <activity android:name=".Activity14">
        </activity>
        <activity android:name=".Activity15">
        </activity>
        <activity android:name=".Activity16">
        </activity>
        <activity android:name=".Activity17">
        </activity>
        <activity android:name=".Activity18">
        </activity>
        <activity android:name=".Activity19">
        </activity>
 </application>

</manifest>